$pink: rgb(227, 51, 122);
$blue: #095390;
$lightBlue: rgb(30, 181, 219);
$green: rgb(173, 201, 92);
$white: rgb(255, 255, 255);
$darkGrey: rgb(127, 126, 126);
$grey: rgb(216, 216, 216);
$blueOpacity: rgba(9, 83, 144, 0.9);
$white: rgb(231, 231, 231);
$lightGrey: #fafafa;
