@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/Helvetica Neue.otf') format('otf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticeNeueBold';
  src: url('../fonts/Helvetica Neu Bold.ttf') format('ttf');

  font-weight: bold;
  font-style: normal;
}
